<%= javascript_pack_tag 'text_messages/candidates.js' %>
<% if @candidates.empty?%>
  <p>Sorry, no suggestions for that input</p>
<% else %>
  <ul>
    <% @candidates.each do |candidate| %>
      <li class='candidate'><a href='#'><%= candidate[:token_text] %></a> &nbsp;(count: <%= candidate[:count]  %>, chunk size: <%= candidate[:chunk_size]%>)</li>
    <% end %>
  </ul>
<% end %>
