<% if @candidates.empty?%>
  <p>Sorry, no suggestions for that input</p>
<% else %>
  <ul>
    <% @candidates.each do |candidate| %>
      <li class='candidate'><%= candidate[:token_text] %> &nbsp;(count: <%= candidate[:count]  %>)</li>
    <% end %>
  </ul>
<% end %>
