<h1>Texts#index</h1>
<p>Find me in app/views/texts/index.html.erb</p>
<div class='row'>
  <div class='col-4'>
    <h2>Old Text</h2>
    <% if @texts 
      @texts.each do |text| %>
      <li><%= text.text %></li>
      <% end %>
    <% end %>
</div>
<div class='col'>
  <h2>Analysis</h2>
</div>
</div>
<div class='row'>
  <div class='col-4'>
    <h2>Enter Text 
    </h2>
    <h4>Settings</h4>
  </div>
  <div class='col'>
    <h2>Suggestions</h2>
  </div>
</div>
